/* -------------------------------------- *\
    #CUSTOM PROPERTY 
\* -------------------------------------- */

:root {
    --background: hsl(18, 100%, 98%);
    --on-background: hsl(18, 8%, 12%);
    --surface: hsl(18, 100%, 98%);
    --on-surface: hsl(18, 8%, 12%);
    --on-surface-variant: hsl(18, 7%, 29%);
    --surface-container-low: hsl(18, 44%, 96%);
    --surface-container: hsl(18, 38%, 95%);
    --surface-bright: hsl(18, 100%, 98%);
    --primary: hsl(18, 100%, 58%);
    --outline: hsl(18, 4%, 47%);
    --outline-variant: hsl(18, 10%, 79%);
    --on-primary: hsl(0, 0%, 100%);

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Noto Sans', sans-serif;

    --base-font-size: 62.5%;
    --display-large: 5.7rem;
    --display-medium: 4.5rem;
    --display-small: 3.6rem;
    --headline-large: 3.2rem;
    --headline-medium: 2.8rem;
    --headline-small: 2.4rem;
    --title-large: 2rem;
    --title-medium: 1.6rem;
    --title-small: 1.4rem;
    --label-large: 1.4rem;
    --label-medium: 1.2rem;
    --label-small: 1.1rem;
    --body-large: 1.6rem;
    --body-medium: 1.4rem;
    --body-small: 1.2rem;

    --weight-regular: 400;
    --weight-medium: 500;

    --radius-extra-small: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-full: 500px;
    --radius-circle: 50%;

    --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;

    --section-padding: 24px;
    --top-bar-height: 64px;
}

@media (prefers-reduced-motion: no-preference) {

    :root {

        --motion-duration-short-1: 100ms;

        --motion-easing-linear: cubic-bezier(0, 0, 1, 1)

    }
}

.material-symbols-outlined.about {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }

.rating-wrapper {
    display: flex;
    color: var(--on-surface);
}


/* -------------------------------------- *\
    #RESET
\* -------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none;}

a,
img,
span,
input,
button,
textarea {display: block;}

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

input,
button,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
textarea {width: 100%; }

button { cursor: pointer; }

textarea { resize: none; }

html {
    font-family: var(--font-secondary);
    font-size:  var(--base-font-size);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--body-large);
}

/* -------------------------------------- *\
    #TYPEOGRAPHY
\* -------------------------------------- */

.flag {
    font-size: var(--headline-large);
}

.display-large { 
    font-family: var(--font-primary);
    font-size: var(--display-large);
    font-weight: var(--weight-regular);
    line-height: 64px;
    letter-spacing: -0.25px;
}

.display-medium {
    font-family: var(--font-primary);
    font-size: var(--display-medium);
    font-weight: var(--weight-regular);
    line-height: 52px;
}

.display-small {
    font-family: var(--font-primary);
    font-size: var(--display-small);
    font-weight: var(--weight-regular);
    line-height: 44px;
}

.headline-large {
    font-family: var(--font-primary);
    font-size: var(--headline-large);
    font-weight: var(--weight-regular);
    line-height: 40;
}

.headline-medium {
    font-family: var(--font-primary);
    font-size: var(--headline-medium);
    font-weight: var(--weight-regular);
    line-height: 36;
}

.headline-small {
    font-family: var(--font-primary);
    font-size: var(--headline-small);
    font-weight: var(--weight-regular);
    line-height: 32;
}

.title-large {
    font-family: var(--font-primary); 
    font-size: var(--title-large);
    font-weight: var(--weight-regular);
    line-height: 28px;
}

.title-medium {
    font-family: var(--font-primary);
    font-size: var(--title-medium);
    font-weight: var(--weight-medium);
    line-height: 24px;
    letter-spacing: 0.15px;
}

.title-small {
    font-family: var(--font-primary);
    font-size: var(--title-small);
    font-weight: var(--weight-medium);
    line-height: 20px;
    letter-spacing: 0.1px;
}

.body-large {
    font-size: var(--body-large);
    font-weight: var(--weight-regular);
    line-height: 24px;
    letter-spacing: 0.5px;
}

.body-medium {
    font-weight: var(--weight-regular);
    font-size: var(--body-medium);
    line-height: 20px;
    letter-spacing: 0.25px;
}

.body-small {
    font-size: var(--body-small);
    font-weight: var(--weight-regular);
    line-height: 16px;
    letter-spacing: 0.4px;
}

.label-large {
    font-size: var(--label-large);
    font-weight: var(--weight-medium);
    line-height: 20px;
    letter-spacing: 0.1px;
}

.label-medium {
    font-weight: var(--label-medium);
    font-size: var(--weight-medium);
    line-height: 16px;
    letter-spacing: 0.5px;
}

.label-small {
    font-size: var(--label-small);
    font-weight: var(--weight-medium);
    line-height: 16px;
    letter-spacing: 0.5px;
}

/* -------------------------------------- *\
    #TOP BAR
\* -------------------------------------- */

.topbar {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    z-index: 4;
    }

/* -------------------------------------- *\
    #SECTION
\* -------------------------------------- */

.section {padding-block: var(--section-padding);}
.container { padding-inline: 16px; }

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: transparent;
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {padding-block-start: calc(var(--top-bar-height) + 24px) }

.hero .container {
    display: grid;
    align-items: center;
    gap: 24px;
}

.hero-banner {
    width: 240px;
    border-radius: var(--radius-circle);
}

.hero-content { max-width: 500px; }

.hero.section-subtitle { color: var(--on-surface-variant); }

.hero .section-text {
    margin-block: 5px;
    color: var(--on-surface-variant);
}

/* -------------------------------------- *\
    #ABOUT CARD
\* -------------------------------------- */

.about-card {
    background-color: var(--surface-container-low);
    color: var(--on-surface-variant);
    margin-inline: 16px; padding: 16px;
    border-radius: var(--radius-large);
}

.about-card .card-title { color: var(--on-surface); }

.about-card .card-text {
    margin-block: 12px;
    padding-block: 12px;
    border-block: 1px solid var(--outline-variant);
}

.about-list {
    display: grid;
    gap: 12px;
}

.bigger-icon {
    font-size: 18px;
    padding: 3px;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* -------------------------------------- *\
    #TABS
\* -------------------------------------- */

:has(> .state-layer) {
    position: relative; overflow: hidden;
    z-index: 1;
}

.state-layer {
    position: absolute;
    inset: 0;
    background-color: var(--state-layer-bg);
    transition: var(--motion-duration-short-1) var(--motion-easing-linear);
    opacity: 0;
}

@media (hover: hover) {
    :has(> .state-layer):hover .state-layer {opacity: 0.08;}
}

:has(> .state-layer):is(:focus, :focus-visible, :active) .state-layer {
    opacity: 0.12;
}

.primary-tabs {
    background-color: var(--background);
    margin-block-start: 24px;
    margin-inline: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border-block-end: 1px solid var(--outline-variant);
}

.tab-btn {
    height: 48px;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: var(--surface);
    color: var(--on-surface-variant);
    --state-layer-bg: var(--on-surface-variant);
}

.tab-btn.active {
    color: var(--primary);
    --state-layer-bg: var(var(--primary));
}

.tab-text {
    position: relative;
    height: 48px;
    line-height: 48px;
}

.tab-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px 3px 0 0;
    background-color: var(--primary);
    opacity: 0;
}

.tab-btn.active .tab-text::after { opacity: 1; }

.tab-content:not(.active) { display: none; }

/* -------------------------------------- *\
    #PROJECTS
\* -------------------------------------- */

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 12px;
}

.project-list.books {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 60px;
}

.project-list.recipes {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.card {
    background-color: var(--surface-container-low);
    border-radius: var(--radius-medium);
    padding: 16px;
    display: grid;
    gap: 16px;
    --state-layer-bg: var(--on-surface);
}

.card.books {
    padding: 0px;
    border-radius: 0;
}

.card-banner { border-radius: var(--radius-medium); }
.card-banner.books { border-radius: 0; }

.card-content {
    display: grid;
    gap: 4px;
}

.card-content.books {
    margin-top: 8px;
}

.card-content.recipe {
    display: flex;
    align-items: center; /* Vertically center items */
    gap: 8px
}

.card-subtitle { color: var(--on-surface-variant); }
.card-title { color: var(--on-surface); }

/* -------------------------------------- *\
    #FOOTER
\* -------------------------------------- */

.footer .container {
    text-align: center;
    padding: 16px;
    border-block-start: 1px solid var(--outline-variant);
}

/* -------------------------------------- *\
    #MEDIA QUERIES
\* -------------------------------------- */



@media (min-width: 768px) {

    .article {
        position: relative;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: flex-start;
    }

    .about-card, .primary-tabs {
        position: sticky; top: 64px;
    }

    .primary-tabs { z-index: 2; }

    .hero .container { grid-template-columns: 0.2fr 1fr; }
}

@media (min-width: 1200px) {

    .container,
    .article{
        max-width: 1128px;
        margin-inline: auto;
    }

    .about-card { margin-inline: 8px}

    .contact-tab .container {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 0.6fr 1fr;
        gap: 24px;
    }
}