/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */
 
/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 *
 * MAIN CONTENT
 * Portfolio......................Portfolio style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url('../components/btn.css');





/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.portfolio {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
}

.portfolio-index {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding));
}

.portfolio-list,
.portfolio-card { display: grid; }

.portfolio-list { gap: 50px; }

.portfolio-card { gap: 25px; }

.product-card .card-banner {
  position: relative;
  border: 2px solid var(--jet);
  box-shadow: 0 0 0 var(--jet);
  transition: var(--transition-1);
}

.product-card .card-banner:is(:hover, :focus-within) {
  box-shadow: 3px 3px 0 var(--jet);
}

.product-card .btn-icon {
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition-1);
  will-change: transform;
}

.product-card .card-banner:is(:hover, :focus-within) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}

.product-card .chip {
  position: absolute;
  top: -45px;
  left: 15px;
  background-color: var(--orange-red_a20);
  max-width: max-content;
  color: var(--jet);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: var(--radius-pill);
  margin-block-end: 18px;
}

.portfolio-card .card-text { margin-block: 10px 25px; }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .portfolio-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .portfolio-list > li:nth-child(2n) .card-banner { order: 1; }

  .portfolio-card > * {
    width: 80%;
    margin-inline: auto;
  }

  .portfolio-card .card-text { margin-block-start: 20px; }

}

/*-----------------------------------*\
  #book.css
\*-----------------------------------*/

.grid-list {
  display: grid;
  gap: 20px;
}

.section-text { text-align: center; }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  margin: 55px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card {
  position: relative;
  border: 1px solid var(--white_10);
}

.product-card .card-banner { position: relative; }

.product-card .card-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: var(--xiketic);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-2);
  opacity: 0;
}

.product-card:is(:hover, :focus) .card-action {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.product-card .action-btn {
  font-size: 18px;
  transition: var(--transition-1);
}

.product-card :is(.action-btn, .card-title):is(:hover, :focus) {
  color: var(--maximum-blue-green);
}

.product-card .card-content { padding: 10px; }

.product-card .h3 { font-weight: var(--fw-400); }

.product-card .card-title {
  font-family: var(--ff-jost);
  transition: var(--transition-1);
}

.product-card .card-price {
  color: var(--maximum-blue-green);
  margin-block: 10px 5px;
}

.product-card .rating-wrapper {
  display: flex;
  gap: 5px;
  color: var(--selective-yellow);
}

.product-card .rating-wrapper ion-icon { --ionicon-stroke-width: 45px; }

/*-----------------------------------*\
  #FEATURED COLLECTION
\*-----------------------------------*/

.featured .section-text { margin-block: 10px 50px; }

.featured .grid-list { gap: 10px; }


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .grid-list { grid-template-columns: 1fr 1fr; }

  .scrollbar-item { min-width: calc(50% - 5px); }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */


  .section-text {
    margin-inline: auto;
  }

  .product-card .card-action {
    gap: 20px;
    padding: 14px 20px;
  }

  .product-card .action-btn { font-size: 22px; }

  .product-card .card-content { padding: 0 20px 20px; }

  .product-card .h3 { --fs-6: 1.8rem; }

  .product-card .card-price {
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
  }

  /**
   * FEATURED COLLECTION
   */

  .featured .grid-list { gap: 30px; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */


  .grid-list { grid-template-columns: repeat(3, 1fr); }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */


  .grid-list { grid-template-columns: repeat(4, 1fr); }

}